version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: absensi_web
    ports:
      - "5000:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: absensi_mysql
    restart: always
    env_file:
      - .env
    ports:
      - "3307:3307"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql_data: